body {
	margin: 0;
	overflow: hidden;
}

canvas {
    background-image: radial-gradient(#666, #333);
    position: absolute;
    clip: rect(0px,0px,0px,0px);
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

#instructions {
	position: absolute;
	color: #fff;
	bottom: 0;
	padding-bottom: 6px;
	font-family: sans-serif;
	width: 100%;
	text-align: center;
	pointer-events: none;
}