extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Noah Schade

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Developer

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | I'm a full stack developer from Montreal, Canada. I've been coding full time for the past 2 years. I first started learning how to code on codecademy.com then I learnt from codeschool.com, udemy.com and pluralsight.com. I decided that I wanted to change my life and do something for a living that I'm passionate about and love so, I enrolled in a Techdegree with Treehouse.
        
          .symbols
          
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li HTML
          li CSS
          li JavaScript
          li NodeJS
          li Express 
          li Photoshop
        h6 Contact Info

        //- Add your own contact info
        ul
          li 1(438)483-4078
          li noahschade101@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded.glow(href='') LinkedIn
        a.button.expanded.glow(href='') GitHub
        a.button.expanded.glow(href='') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back

  script(src="https://code.jquery.com/jquery-3.4.0.js" integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo=" crossorigin="anonymous")
  script(src='/public/js/symbols.js')