extends layout.pug

block content 

  style.
    @media only screen and (min-width: 1466px) {
      .bottomBackButton {
        position: relative;
        top: 230px;
      }
    }
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Noah Schade

        p.lead.text-light
          | Full Stack JavaScript Developer

        .portfolio-bio
          p
            | I am a full stack JavaScript developer from Montreal, Canada. I have been coding for 3 years. I first started learning how to code on codecademy.com then I learnt from codeschool.com, udemy.com and pluralsight.com. I decided that I wanted to change my life and do something for a living that I'm passionate about and love so, I enrolled in the full stack JavaScript techdegree program with Treehouse (teamtreehouse.com) and completed 8 sections or units out of 10 over there.
        
          .symbols
          
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li HTML
          li CSS
          li SCSS/Sass
          li JavaScript
          li jQuery
          li API
          li React
          li Node.js
          li Express
          li Pug
          li Sequelize
          li SQL
          li Databases
          li Git
          li GitHub
          li Photoshop
        h6 Contact Info

        ul
          li 1(438)483-4078
          li noahschade101@gmail.com

        //- a.button.expanded.glow(href='') LinkedIn
        a.button.expanded.glow(href='https://github.com/NoahSchade' target="_blank") View GitHub
        //- a.button.expanded.glow(href='') Twitter
         //- I got some of the code for the buttons that glow from: https://codepen.io/Stockin/pen/XPvpoB.
  nav.grid-container.portfolio-breadcrumb.bottomBackButton(href='/')
    a(href='/') ← Back

  script(src="https://code.jquery.com/jquery-3.4.0.js" integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo=" crossorigin="anonymous")
  script(src='/public/js/symbols.js')
//- I got the code for the symbols from: https://codepen.io/kyledws/pen/Gvelt