extends layout.pug

block content 

  style.
    @media only screen and (min-width: 1466px) {
      .bottomBackButton {
        position: relative;
        top: 230px;
      }
    }
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Noah Schade

        p.lead.text-light
          | Full Stack JavaScript Developer

        .portfolio-bio
          p
            | I am both a front-end web developer and a back-end web developer, which is also known as a full-stack web developer. I am from Montreal, Quebec, Canada. I am fluent in English and French, both spoken and written. I have been programming web applications and websites for three years. I first started learning how to program web applications and websites on codecademy.com, then I learned from codeschool.com, pluralsight.com, udemy.com, and teamtreehouse.com. I have completed multiple web development courses. To further develop my skills and passion, I enrolled in the full-stack JavaScript tech-degree program with Treehouse (teamtreehouse.com). I'm just about to complete my degree and am working on it. I have completed eight sections and units out of ten.
        
          .symbols
          
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li HTML
          li CSS
          li SCSS
          li Sass
          li JavaScript
          li jQuery
          li Bootstrap
          li API
          li React
          li Node.js
          li Express
          li Pug
          li Sequelize
          li SQL
          li Databases
          li Git
          li GitHub
          li Photoshop
        h6 Contact Info

        ul
          li 1(438)483-4078
          li contact@websitebuildme.com

        //- a.button.expanded.glow(href='') LinkedIn
        a.button.expanded.glow(href='https://github.com/NoahSchade' target="_blank") View GitHub
        //- a.button.expanded.glow(href='') Twitter
         //- I got some of the code for the buttons that glow from: https://codepen.io/Stockin/pen/XPvpoB.
  nav.grid-container.portfolio-breadcrumb.bottomBackButton(href='/')
    a(href='/') ← Back

  script(src="https://code.jquery.com/jquery-3.4.0.js" integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo=" crossorigin="anonymous")
  script(src='/public/js/symbols.js')
//- I got the code for the symbols from: https://codepen.io/kyledws/pen/Gvelt