.lobsterFont {
    font-family: 'Lobster Two', cursive;
}

p.lead.text-light {
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
}

.portfolio-me a {
    color: #999;
}

.portfolio-me a:hover {
    color: #fff;
}

.portfolio-bio {
    text-align: justify;
}