/* body {
    background-image: url("http://portfolio.jordanhudgens.com/images/bg/1.jpg"); */
    /* background-image: url("http://reif.io/assets/images/Home_slide1.jpg"); */
    /* background-size: cover;
    background-color: #a5d6a7;
}

.off-canvas.position-left.reveal-for-large.portfolio-me.is-transition-push:hover {  
    transition: background-color 2s ease;
    background-color: rgba(0, 0, 0, 1); 
}

.off-canvas.position-left.reveal-for-large.portfolio-me.is-transition-push {
    transition: background-color;
    background-color: rgba(0, 0, 0, 0.2);
} */


